<form [formGroup]="formGroup" (ngSubmit)="InsertUpdate(formGroup.value)" class="form">
  <div class="row"><div class="col-12 popup-Header"> <h3><strong>{{titleText}}</strong></h3>
    <div class="popup-line"></div>
  </div></div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-3 astricleftDiv"><label>Reason Detail<span class="required">*</span></label></div>
      <div class="col-9 pull-right">
    <mat-form-field appearance="fill" [floatLabel]="'never'">
      <input matInput formControlName="downtimeReasonDetailDesc" placeholder="Reason Detail Desc">
      <mat-error *ngIf="formGroup.controls['downtimeReasonDetailDesc'].errors?.required">
        Reason Detail desc is required
      </mat-error>
      <mat-error *ngIf="formGroup.controls['downtimeReasonDetailDesc'].hasError('maxlength')">
        Reason Detail cannot exceed 50 characters.
      </mat-error>
    </mat-form-field></div></div>
    
    <div class="row">
      <div class="col-3 astricleftDiv"><label>Downtime Code<span class="required">*</span></label></div>
      <div class="col-9 pull-right">
     <mat-form-field appearance="fill" [floatLabel]="'never'">
      <mat-select  placeholder="Select Downtime Code" formControlName="downtimeReasonCodeId">
        <mat-select-filter [displayMember]="'downtimeReasonCodeDesc'" [array]="downTimeReasonDetailListDataList" (filteredReturn)="downTimeReasonDetailListData = $event"></mat-select-filter>
        <mat-option *ngFor="let downTimeReasonDetailList of downTimeReasonDetailListData" [value]="downTimeReasonDetailList.downtimeReasonCodeId">
            {{downTimeReasonDetailList.downtimeReasonCodeDesc}} ({{downTimeReasonDetailList.downtimeReasonTypeDesc}})
          </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['downtimeReasonCodeId'].errors?.required">
        Downtime Code is required
      </mat-error>
    </mat-form-field></div></div>
    <div class="row" *ngIf="statusDiv">
      <div class="col-3 astricleftDiv"><label class="checkboxlebel">Status</label>   </div>
      <div class="col-9 pull-right">
    <label class="switch">
          <input type="checkbox" class="checkbox-height" [value]="data.active" formControlName="active">
          <span class="slider round"></span>
    </label>  </div></div>
  </div>
  <div mat-dialog-actions>
      <button type="reset" (click)="onNoClick()" class="btn btn-reset action-btn" matTooltip="Click to Close"><mat-icon style="cursor: pointer;">close</mat-icon>&nbsp;Close</button>
    <button  class="btn btn-save action-btn" type="submit" [mat-dialog-close]="1"  [disabled]="!formGroup.valid"><mat-icon style="cursor: pointer;">{{btnText}}</mat-icon>{{btnText}}</button>

  </div>
</form>