<progress-spinner-configurable></progress-spinner-configurable>

<div class="main-content">
    <div class="container-fluid">
        <div class="example-button-container">
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="fill" [floatLabel]="'never'">
                        <mat-select placeholder="Select Plant" [(ngModel)]="selectedplant" (selectionChange)="getLinesByPlant($event.value)"
                            name="plant">
                            <mat-select-filter [displayMember]="'plantDesc'" [array]="plantTypeDataList" (filteredReturn)="plantTypeData = $event"></mat-select-filter>
                            <mat-option *ngFor="let plant of plantTypeData" [value]="plant.plantId">
                                {{plant.plantDesc}} ({{plant.plantName}})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="fill" [floatLabel]="'never'">
                        <mat-select placeholder="Select Line" [(ngModel)]="selectedline" (selectionChange)="getOEERequests($event.value)" name="line">
                            <mat-select-filter [displayMember]="'lineName'" [array]="linesDataByPlantList" (filteredReturn)="linesDataByPlant = $event"></mat-select-filter>
                            <mat-option *ngFor="let line of linesDataByPlant" [value]="line.lineId">
                                {{line.lineName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <button (click)="addSkU()" mat-mini-fab color="primary" [hidden]="!canInsert" [disabled]="disableAddbtn" [ngClass]="{'disable':!canInsert}"
                        class="btn-float" matTooltip="Click to Add New Package">
                        <mat-icon style="cursor: pointer;">add</mat-icon>
                    </button>
                    <button  (click)="updateOEERequest()" [hidden]="!canInsert && !canUpdate" [disabled]="editedData.length==0"  matTooltip="Click to Save"
                        class="margin-left btn-float" mat-mini-fab color="primary">
                        <mat-icon style="cursor: pointer;">save</mat-icon>
                    </button>
                </div>
            </div>

        </div>
        <div class="example-header">
            <div class="radio-btn-float">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="isYearEndChangeModel">
                    <mat-radio-button [checked]="true" [value]="false">Immediate </mat-radio-button>
                    <mat-radio-button [value]="true">For Next Year</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field class="mat-form-field-filter">
                <input matInput [(ngModel)]="filterValueModel"  (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <label class="label-text-danger" *ngIf="showValidationMessage">*Please enter correct value</label>
        </div>

        <div class="example-container mat-elevation-z8">
            <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="package">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Package
                    </mat-header-cell>
                    <mat-cell *matCellDef="let r; let i = index;"> {{r.package}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="superPackage">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Super Package
                    </mat-header-cell>
                    <mat-cell *matCellDef="let r; let i = index;"> {{r.superPackage}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="casePerHourCapacity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Case/hr Capacity
                    </mat-header-cell>
                    <mat-cell *matCellDef="let r; let i = index;">
                        <span *ngIf="!r.editable; else editPlace">
                            {{r.casePerHourCapacity}}
                        </span>
                        <ng-template #editPlace>
                            <div class="form-group" [class.text-danger]="casePerHourCapacity.invalid || r.casePerHourCapacity<1">
                                <input  (keyup.enter)="r.editable = false" type="number"
                                    oninput="this.value<0?(this.value=1):this.value;" class="form-control"
                                    #casePerHourCapacity="ngModel" name="casePerHourCapacity{{i}}"
                                    [ngModel]="r.casePerHourCapacity"
                                    (change)="casePerHourmethod(r,'casePerHourCapacity',$event)"
                                    value="{{r.casePerHourCapacity}}" min="1"  required>
                                <div *ngIf="casePerHourCapacity.invalid || r.casePerHourCapacity<1">
                                    min value should be 1.
                                </div>
                            </div>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="planPercentage">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        % Plan
                    </mat-header-cell>
                    <mat-cell *matCellDef="let r; let i = index;">
                        <span *ngIf="!r.editable; else editPlace">
                            {{r.planPercentage}}
                        </span>
                        <ng-template #editPlace>
                            <div class="form-group" [class.text-danger]="planPercentage.invalid ||r.planPercentage>100 || r.planPercentage<0">
                                <input (keyup.enter)="r.editable = false" type="number" min="0" class="form-control"
                                    #planPercentage="ngModel" name="planPercentage{{i}}" [(ngModel)]="r.planPercentage"
                                    oninput="this.value>100?(this.value=100):this.value" (change)="casePerHourmethod(r,'planPercentage',$event)"
                                    value="{{calPlanPercentage(r)}}"
                                    required>
                                    
                                    <div *ngIf="r.planPercentage>100 || r.planPercentage<0">
                                        value should be between 0 and 100.
                                    </div>
                            </div>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="casePerHour">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Case/hr Plan
                    </mat-header-cell>
                    <mat-cell *matCellDef="let r; let i = index;">
                        <span *ngIf="!r.editable; else editPlace">
                            {{r.casePerHour}}
                        </span>
                        <ng-template #editPlace>
                            <div class="form-group" [class.text-danger]="casePerHour.invalid">
                                <input (keyup.enter)="r.editable = false" type="number"
                                    oninput="this.value<0?(this.value=0):this.value;" class="form-control" #casePerHour="ngModel"
                                    name="casePerHour{{i}}" [(ngModel)]="r.casePerHour"
                                    (change)="casePerHourmethod(r,'casePerHour',$event)"
                                    value="{{calCasePerHour(r)}}" min="0"
                                    required>
                                <div *ngIf="casePerHour.invalid">
                                    min value should be 0.
                                </div>
                            </div>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editable || disablesavebtn; else editPlace">
                            <button mat-icon-button matTooltip="Click to Edit" (click)="edit(element)"
                                class="iconbutton" color="primary" [hidden]="!canUpdate"  [ngClass]="{'disable':!canUpdate}">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                        </span>
                        <ng-template #editPlace>
                            <button mat-icon-button matTooltip="Click to Undo" (click)="undo(element)"
                                class="iconbutton" color="primary">
                                <mat-icon aria-label="Edit">undo</mat-icon>
                            </button>
                        </ng-template>
                        <button  mat-icon-button matTooltip="Click to delete"
                        [hidden]="!canDeleted || isYearEndChangeModel" (click)="DeleteConfirmed(element)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>

                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnList; let i = index;"
                    [ngClass]="{'make-gold': (row.editable)==true}">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10,15, 25,100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<!--Add New SKU dialog box-->
<form [formGroup]="addOEERequestForm" (ngSubmit)="addOEERequest(addOEERequestForm.value)" class="form">
    <div bsModal #addeditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-child-name" [config]="{backdrop: 'static',  keyboard: false}">
        <div class="modal-dialog-centered modal-dialog modal-md modelbig">
            <div class="modal-content ">
                <div class="modal-header border-bottom">
                    <h4 id="dialog-child-name" class="modal-title pull-left label-text-heading">Submit OEE request by Package</h4>
                </div>
                <div class="modal-body">
                
                    <div class="form-group row">
                        
                        <div class="col-sm-12 row ">
                            <div class="col-sm-8 searchbox-padding-top">
                            <input formControlName="displayName" id="name" type="text"
                                class="form-control search" (keyup.enter)="search()" (keyup)="ResetUserSearchControl($event)"
                                autocomplete="off"
                                placeholder="Please enter Package or Super Package to search">
                            
                            <div class="loader-user" [style.display]="isVisible"><img
                                  alt=""  src="./../../../assets/img/smallspinner.gif"></div>
                            <div tabindex="0" class="searchcontent" [style.display]="isContainerVisible">
                                <div #loadingdiv *ngFor="let data of searchedData">
                                    <div #searchDivContent class="search-item" (click)="selectedUser(data)"
                                        *ngIf="data!=null">{{data.package}}
                                        <strong>||</strong> {{data.superPackage}}</div>
                                </div>
                                <div *ngIf="norecords">Package either already mapped to this Line or invalid! &nbsp;<span class="cross"
                                        title="Click to close" (click)="select_cross()">&#10006;</span></div>
                            </div>
                             </div>
                            <div class="col-sm-2" style="padding-left: 0px !important;">
                            <button #resetbtn type="button" [disabled]="searchBtnShow" (click)="search()" matTooltip="click to search"
                                class="btn-primary-outline"><mat-icon  matSuffix class="margin-icon">search</mat-icon></button>
                                
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div> <br><br>
                    <div *ngIf="mainContentDiv">
                    <div class="form-group row">
                        <label for="package" class="col-sm-3 col-form-label label-text-color">Package</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" formControlName="package">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="superPackage" class="col-sm-3 col-form-label label-text-color">Super Package</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" formControlName="superPackage">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="casePerHourCapacity" class="col-sm-3 col-form-label label-text-color">Case/hr Capacity</label>
                        <div class="col-sm-7">
                            <input type="number"  oninput="this.value<0?(this.value=1):this.value;"  (change)="casePerHourmethodForAdd(addOEERequestForm.value,'casePerHourCapacity',$event)"
                                formControlName="casePerHourCapacity" placeholder="" min="1"
                                class="form-control input">
                            <div *ngIf="(addOEERequestForm.controls['casePerHourCapacity'].touched || submitted) && addOEERequestForm.controls['casePerHourCapacity'].invalid"
                                class="alert alert-danger">
                                <div *ngIf="addOEERequestForm.controls['casePerHourCapacity'].errors.required">
                                    required.</div>
                                <div *ngIf="addOEERequestForm.controls['casePerHourCapacity'].errors.min">
                                    min value should be 1.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="planPercentage" class="col-sm-3 col-form-label label-text-color">Plan %</label>
                        <div class="col-sm-7">
                            <input type="number"  (change)="casePerHourmethodForAdd(addOEERequestForm.value,'planPercentage',$event)"
                                formControlName="planPercentage" oninput="this.value>100?(this.value=100):(this.value)" min="0" placeholder="" class="form-control input">
                            <div *ngIf="(addOEERequestForm.controls['planPercentage'].touched || submitted) && addOEERequestForm.controls['planPercentage'].invalid"
                                class="alert alert-danger div-fit-content">
                                <div *ngIf="addOEERequestForm.controls['planPercentage'].errors.required">
                                    required</div>
                                <div *ngIf="addOEERequestForm.controls['planPercentage'].errors.min">min
                                    value should be 1.</div>
                                <div class="div-message100" *ngIf="addOEERequestForm.controls['planPercentage'].errors.max">
                                    value should not be more than 100.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="casePerHour" class="col-sm-3 col-form-label label-text-color">Case/hr Plan</label>
                        <div class="col-sm-7">
                            <input type="number"  oninput="this.value<0?(this.value=0):this.value" (change)="casePerHourmethodForAdd(addOEERequestForm.value,'casePerHour',$event)"
                                formControlName="casePerHour" placeholder="" min="0" class="form-control input">
                            <div *ngIf="(addOEERequestForm.controls['casePerHour'].touched || submitted) && addOEERequestForm.controls['casePerHour'].invalid"
                                class="alert alert-danger">
                                <div *ngIf="addOEERequestForm.controls['casePerHour'].errors.required">
                                    required</div>
                                <div *ngIf="addOEERequestForm.controls['casePerHour'].errors.min">min value
                                    should be 0.</div>
                            </div>
                        </div>
                    </div></div>
                    <div class="row mrgbtm upper-margin btn-position-modal">
                        <div>
                            <button #resetbtn type="button" (click)="resetModal()" class="btn btn-reset action-btn"><mat-icon>restore</mat-icon>&nbsp; Reset</button>
							<button type="button" (click)="cancelModal()" class="btn btn-reset action-btn"><mat-icon>close</mat-icon>&nbsp; Cancel</button>
                                <button type="button" type="submit" [hidden]="!mainContentDiv" [disabled]="addOEERequestForm.invalid" class="btn btn-save action-btn"><mat-icon>save</mat-icon>&nbsp; Save</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<!--#start OEE deletion confirmation dialog -->
<div bsModal #deleteOEEConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog-centered modal-dialog modal-md modelbig">
    <div class="modal-content oee-delete-confirm">
          <div class="modal-body">
            <div mat-dialog-content>
              <h1 mat-dialog-title>Confirmation?</h1>
              <h4>{{deleteOeeMessage}}</h4>
            </div>
            <div mat-dialog-actions>
              <button #cancelbtn class="btn btn-info no-btn-margin"
                (click)="onCloseclick()">
                <mat-icon>close</mat-icon>No
              </button>
              <button class="btn btn-danger" (click)="confirmedForDeleteOee()">
                <mat-icon>done</mat-icon>Yes
              </button>
            </div>
          </div>
      </div>
    </div>
</div>
<!--#end OEE confirmation dialog -->
<!--#start confirmation dialog -->
<div bsModal #deleteConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog-centered modal-dialog modal-md modelbig">
    <div class="modal-content oee-delete-confirm">
          <div class="modal-body">
            <div mat-dialog-content>
              <h1 mat-dialog-title>Confirmation?</h1>
              <h4>Are you sure you want to delete this OEE request?</h4>
            </div>
            <div mat-dialog-actions>
              <button #cancelbtn class="btn btn-info no-btn-margin"
                (click)="onCloseclick()">
                <mat-icon>close</mat-icon>No
              </button>
              <button class="btn btn-danger" (click)="deleteOee()">
                <mat-icon>done</mat-icon>Yes
              </button>
            </div>
          </div>
      </div>
    </div>
</div>
<!--#end confirmation dialog -->