<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          
        </div>
       
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div _ngcontent-xdg-c62="" id="navigation" class="text-color collapse navbar-collapse justify-content-end">
            <button class="user-logout-margin" mat-raised-button matTooltip="Click here to signout!"  (click)="singnout()"><mat-icon>logout</mat-icon></button>   
        </div>
    </div>
</nav>
